.logon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 70px;
  height: 100vh;
  
}
.logon-container section.form {
  padding: 50px;

}

.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 15px;
  color:#63636d;
  font-family: 'Roboto', sans-serif;
 
}
.logon-container section.form form {
  width: 60%;
  margin: 0 auto;
  margin-top: 28px;
  color: #41414d;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;

}
.logon-container section.form form svg {
  margin-right: 8px;
}
.logon-container section.form form a:hover {
  opacity: 0.8;
}    
.logon-container h1{
  font-family: 'Comic-nue', sans-serif;
  color: #ED5758;
  font-size: 45px;

}
.logon-container .content{
  padding: 50px;
}
.logon-container .content img{
 margin-top: 50px;
 width: 90%;
 margin-bottom: 10px;
}
.logon-container .content h3{
  width: 100%;
  color:#ED5758;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  height: 40px;
  font-size: 20px;
}
@media (min-width: 1025px) and (max-width: 1280px) {
  
  .logon-container {
    display: block;
    
  }
  .logon-container section.form form {
    width: 100%;
    margin: 0 auto;
    color: #41414d;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  
  }
  .logon-container section.form {
    width: 100%;

  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .logon-container {
    display: block;
    
  }
  .logon-container section.form form {
    width: 100%;
    margin: 0 auto;
    color: #41414d;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  
  }
  .logon-container section.form {
    width: 100%;

  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .logon-container {
    display: block;
    
  }
  .logon-container section.form form {
    width: 100%;
    margin: 0 auto;
    color: #41414d;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  
  }
  .logon-container section.form {
    width: 100%;

  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 411px) and (max-width: 850px) {
  .logon-container {
    display: block;
    
  }
  .logon-container section.form form {
    width: 100%;
    margin: 0 auto;
    color: #41414d;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  
  }
  .logon-container section.form {
    width: 100%;

  }
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 300px) and (max-width: 480px) {
  
  .logon-container {
    display: block; 
    width: 100vw;
    height: 100vh;
    padding: 8px;
    
  }
  .logon-container section.form {
    padding: 0px;
    width: 100%;
  
  }
  .logon-container section.form form {
    padding: 0;
    width: 100%;
    color: #41414d;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  
  }
  .logon-container section.form {
    width: 100%;

  }
  .logon-container .content{
    padding: 0;
  }
  .logon-container .content img{
   margin-top: 50px;
   width: 100%;
   margin-bottom: 10px;
  }
  .logon-container .content h3{
    width: 100%;
    color:#ED5758;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 40px;
    font-size: 20px;
    margin-top: 80px;
  }
  
}
