.nav_bar header {
  background-color: transparent !important;
  padding: 10px;
  margin-bottom: 50px;
}
.nav_bar header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: #919191;
}
.nav_bar header span p {
  margin-left: 20px;
}
.container_list {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}
.container_list li {
  padding: 0 10px;
  text-decoration: none;
  margin: 0 20px;
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 300px) and (max-width: 480px) {
  
  .header {
    display: flex;
    align-items: center;
    background-color: rgb(163, 247, 36);
    height: 40px;
  }
  .nav_bar header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: #919191;
  }
  .nav_bar header span p {
    margin-left: 20px;
  }
  .container_list {
    display: flex;
    width: 80%;
    justify-content: flex-end;
  }
  .container_list li {
    padding: 0 10px;
    text-decoration: none;
    margin: 0 20px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 100px;
    left: -120%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .menu_icon {
    display: block;
    position: absolute;
    top: -16px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
