.nav_bar header {
    background-color: #ED5757;
    padding:10px;
    margin-bottom: 50px;
}
.nav_bar header span {
    display: flex;
    font-size: 20px;
    padding: 10px;
    color: snow;   
}
.nav_bar header button {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    background: transparent;
    margin:-40px 10px -10px -10px;
    float: right;
    
}
.nav_bar header span p {
    margin-left: 20px;
    
    
}
.nav_bar header span .dashboard {
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    margin:0 50px 0px 120px;
    
    
}