.container {
  width: 100vw;
  height: 100vh;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  width: 50vw;
  height: 80vh;
}
.section_left h1 {
  text-align:left;
  margin-top: 50px;
  color: #0693E3;
  font-size: 2.5rem;
}
.section_left p {
  color: #5a5a5a;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #0693E3;
  font-size: 1.2rem;
}
.section_rigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50vw;
  height: 80vh;
}
.login-button {
  background-color: #005eff;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}
