strong {
  font-weight: 700;
}

/* ==== SIMPLE FOOTER ==== */

footer {
  background: #f5e8c6;
  display: table;
  width: 70vw;
  height: 8rem;
  text-align: center;
  padding: 1rem;
  font-family: "Arial", sans-serif;
  font-size: 0.875rem;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.footer small {
  color: #ccc;
  letter-spacing: 0.025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  color: #c74f78;
  text-decoration: none;
  margin: 0 0.5rem;
  display: inline-block;
}

.footer-nav a:hover {
  color: #f26896;
  transition: color 0.15s ease-in-out;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 411px) and (max-width: 850px) {
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 300px) and (max-width: 480px) {
  footer {
    background: #f5e8c6;
    display: table;
    width: 100%;
    height: 8rem;
    text-align: center;
    padding: 1rem;
    font-family: "Arial", sans-serif;
    font-size: 0.875rem;
  }
  
  .wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .footer small {
    color: #ccc;
    letter-spacing: 0.025rem;
    margin-bottom: 1.5rem;
    display: block;
  }
  
  .footer-nav a {
    color: #c74f78;
    text-decoration: none;
    margin: 0 0.5rem;
    display: inline-block;
  }
  
  .footer-nav a:hover {
    color: #f26896;
    transition: color 0.15s ease-in-out;
  }
  
}