.register-container {
  width: 70vw;
  margin: 40px auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.935);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.register-container section {
  width: 100%;
}
.register-container section h2 {
  font-size: 32px;
  color: #6f6f7c;
}
.register-container section h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;

  color: #5d5757;
}
.register-container section form {
  margin: 0 auto;
  padding: 80px;
  width: 70%;
}
.register-container section form a {
  display: flex;
  align-items: center;
  margin-top: 18px;
  color: #41414d;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}
.register-container section form input {
  border-radius: 4px;
  margin-bottom: 8px;
}
.register-container section hr {
  margin-top: 20px;
}
.register-container .content {
  margin-top: 40px;
  padding: 80px;
}
.register-container .content img {
  margin: 0 auto;
  width: 100%;
}
.register-container .content h3 {
  width: 100%;
  color: #ed5758;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  height: 40px;
  font-size: 20px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .register-container {
    display: block;
  }
  .register-container section.form form {
    width: 100%;
    margin: 0 auto;
    color: #41414d;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  }
  .register-container section.form {
    width: 100%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .register-container {
    display: block;
  }
  .register-container section.form form {
    width: 100%;
    margin: 0 auto;
    color: #41414d;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  }
  .register-container section.form {
    width: 100%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .register-container {
    display: block;
  }
  .register-container section.form form {
    width: 100%;
    margin: 0 auto;
    color: #41414d;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  }
  .register-container section.form {
    width: 100%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 411px) and (max-width: 850px) {
  .register-container {
    display: block;
  }
  .register-container section.form form {
    width: 100%;
    margin: 0 auto;
    color: #41414d;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  }
  .register-container section.form {
    width: 100%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 300px) and (max-width: 480px) {
  .register-container {
    display: block;
    width: 100vw;
    height: 100vh;
  }
  .register-container section.form {
    padding: 0px;
    width: 100%;
  }
  .register-container section form {
    padding: 10px;
    width: 100%;
    color: #41414d;

    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  }

  .register-container .content {
    padding: 10px;
  }
  .register-container .content img {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 10px;
  }
}
